/* header area */

.menu_item {
  font-weight: 500; /* Yazı kalınlığı */
  font-size: 16px; /* Yazı tipi boyutu */
  line-height: 1.5; /* Satır aralığı */
  letter-spacing: 0.02em; /* Harf aralığı */
  color: #2e2f42; /* Metin rengi */
  text-decoration: none;
}

.menu_item:hover,
.menu_item:focus {
  color: #404bbf; /* Fare üzerine gelince ve odaklanınca metin rengi */
}

/* <address> etiketine uygulanan stil */
.contact_info {
  font-style: normal; /* İtalik özelliğini kaldırır */
}

/* İletişim bağlantı stilleri */
.contact_item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact_item:hover,
.contact_item:focus {
  color: #404bbf; /* Fare üzerine gelince ve odaklanınca metin rengi */
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

span {
  color: #2e2f42;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
/* header area */

/* first section */
section {
  background-color: #2e2f42;
}

h1 {
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

section button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf;
}
/* first section */

/* second section */
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* second section */

/* third section */
h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.Team {
  background-color: #f4f4fd;
}

/* third section */
